- name: Deploy packages and config files to workstation
  hosts: all
  gather_facts: false
  vars:
    username: thiago.costa

  tasks:
    - name: Install EPEL repo
      yum:
        name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
        
    - name: Install packages
      yum:
        name: "{{ packages }}"
      vars:
        packages:
        - git
        - zsh
        - mosh
        - unzip
        - vim
        - automake
        - gcc
        - libevent-devel
        - ncurses-devel
        - glibc-static
        - wget
        - awscli
        - openfortivpn
          #        - util-linux-user

    - name: Install Terraform
      unarchive:
        src: https://releases.hashicorp.com/terraform/0.11.13/terraform_0.11.13_linux_amd64.zip
        dest: /usr/bin
        remote_src: yes

    - name: Install ncurses
      yum:
        name: http://rpmfind.net/linux/centos/7.6.1810/os/x86_64/Packages/ncurses-5.9-14.20130511.el7_4.x86_64.rpm

    - name: Create group thiago.costa
      group:
        name: thiago.costa

    - name: Create user thiago.costa
      user:
        name: thiago.costa
        groups: thiago.costa,wheel

    - name: Create .ssh directory
      file:
        path: /home/{{ username }}/.ssh
        state: directory

    - name: Add to sudoers without password
      lineinfile:
        path: /etc/sudoers
        insertafter: '^%wheel'
        line: 'thiago.costa ALL=(ALL) NOPASSWD:ALL'

    - name: Copy private key
      copy: 
        src: /home/centos/.ssh/authorized_keys
        dest: /home/{{ username }}/.ssh/authorized_keys
        remote_src: yes
        mode: 0644

    - name: ensure the ~/src-hub directory is present
      file: 
        path: /home/{{ username }}/src-hub
        state: directory

    - name: clone oh-my-zsh
      git: 
        repo: https://github.com/robbyrussell/oh-my-zsh.git
        dest: /home/{{ username }}/src-hub/oh-my-zsh
        update: no

    - name: create symlink to oh-my-zsh
      file: 
        path: /home/{{ username }}/.oh-my-zsh
        src: /home/{{ username }}/src-hub/oh-my-zsh
        state: link

    - name: copy zshrc to user home
      template: 
        src: templates/zshrc
        dest: /home/{{ username }}/.zshrc
        force: yes
        owner: thiago.costa
        group: thiago.costa

    - name: change user shell to zsh
      become: yes
      become_user: root
      command: chsh -s /bin/zsh "{{ username }}"

    - name: copy gitconfig to user home
      template: 
        src: templates/gitconfig
        dest: /home/{{ username }}/.gitconfig
        force: yes
        owner: thiago.costa
        group: thiago.costa

    - name: Clone Tmux
      git:
        repo: https://github.com/tmux/tmux.git
        dest: /tmp/tmux

    - name: Install Tmux
      shell: cd /tmp/tmux && sh autogen.sh && ./configure && make && cp tmux /usr/bin/tmux

    - name: Create Tmux Directory
      file:
        path: /home/{{ username}}/.tmux
        state: directory
        owner: thiago.costa
        group: thiago.costa

    - name: Install Tmux Plugin Manager
      git:
        repo: https://github.com/tmux-plugins/tpm.git
        dest: /home/{{ username}}/.tmux/plugins/tpm
      become_user: thiago.costa

    - name: copy tmux.conf to user home
      template: 
        src: templates/tmux.conf
        dest: /home/{{ username }}/.tmux.conf
        force: yes
        owner: thiago.costa
        group: thiago.costa

    - name: Copy Route53 auto-update script
      template:
        src: templates/update-route-53.sh
        dest: /etc/init.d/update-route-53.sh
        force: yes
        mode: 0755

    - name: Add Route53 script to startup
      template:
        src: templates/updateroute53
        dest: /etc/systemd/system/update-route-53.service

    - name: Enable Route53 service
      systemd:
        daemon_reload: yes
        enabled: yes
        name: update-route-53.service
